<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
   <!--
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>com.apachekafka.servletjsp.pages.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>pqr</servlet-name>
        <servlet-class>com.apachekafka.servletjsp.pages.SquareServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pqr</servlet-name>
        <url-pattern>/square</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>com.apachekafka.servletjsp.pages.MyServlet</servlet-class>

        <init-param>
            <param-name>name</param-name>
            <param-value>pizzahut</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>name</param-name>
        <param-value>Mehedi</param-value>
    </context-param>

    <context-param>
        <param-name>laptop</param-name>
        <param-value>ASUS</param-value>
    </context-param>-->
</web-app>